.author__thumbnail {
   
    img {
        border-radius: 50%;
		width: 8.125em;
        

    }
    
    }



@media (max-width:$breakpoint-lg){
    .author__thumbnail {
        text-align: center;
    }
}