@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');


body{
	font-family: 'Roboto', sans-serif;
}

h1,h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

p{
	font-family: 'Roboto', sans-serif;	
}
// Font size
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;
$icon-size: 45px;
$icon:25px;

// Font weight
$regular: 400;
$light: 300;
$black: 900;
