.article{
margin-top: 4rem;
border-bottom: 1px solid $light-gray;
@include large-breakpoint{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
&__h4{
    color: $nickel;
    font-size: $medium;
    margin-bottom: 3rem;
}
&__div{
margin-bottom: 5rem;
        p{
        line-height: 2.5;
        margin-bottom: 3rem;
        color: $nickel;
        }
    }
    a{
     color: $spanish-pink; 
     text-decoration: none;  
    }
}
@media (max-width:$breakpoint-lg){
    .article__none{
        display: none;
    }
}

@media (max-width:$breakpoint-lg){
    .article__btn-container{
        text-align: center; 
    }
    }