.header{
    
    background: url('../img/post-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding:4rem 0 9rem 0;
  

    @include center-element-flex;
    flex-direction: column;
    @include large-breakpoint{
        padding-top:8rem;
        height: 90vh;
        }
     
}


h1{
    
    margin: 0 auto;
    width: 60%;
    color:$white ;
    font-style: italic;
    font-size:$xx-large;
    font-weight:$black;
    text-align: center;
    margin-bottom: 8rem;
    margin-top: 12rem;

    @include large-breakpoint{
        font-size:$x-large;
        width:80%;
        padding:0 1.7rem;
    }

         
}

.header__icon{
    color:$white;
    font-size:$icon-size;
    text-align: center;
    @include large-breakpoint{
        font-size:$icon;
       
    
}
}